<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  # Don't process images in below folders
  RewriteCond %{REQUEST_URI} !^/assets/images
  RewriteCond %{REQUEST_URI} !^/uploads/_cache

  # Process image
  RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php
</IfModule>
